#profileImg {
	border-radius: 50px;
	margin-left: 25%;
	width: 50%;
}
.input-group {
	margin-top: 15px;
	width: 100%;
}

#submitButton {
	width: 50%;
	margin-left: 25%;
	font-size: 14pt;
	margin-top: 15px;
}

#row1 {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: rgb(240, 240, 240);
}

#row2 {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: rgb(220, 220, 220);
}
.listPhoto {
	width: 96%;
	margin-left: 2%;
}
.listDetail {
	text-decoration: italic;
}